body{
    background-image:url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    width: 25%;
}

h1{
    font-family: 'Diplomata', cursive;
}


.allincenter{
    font-size: large;
    text-align: center;
}


.text1{
    font-family: 'Allura', cursive;
}

.text2{
    font-family: 'Dancing Script', cursive;
}

.text3{
    font-family: 'Anton', sans-serif;
}

.text4{
    font-family: 'Architects Daughter', cursive;
}

.text5{
    font-family: 'Audiowide', cursive;
}

.text6{
    font-family: 'Bad Script', cursive;
}

.text7{
    font-family: 'Bangers', cursive;
}

.text8{
    font-family: 'Berkshire Swash', cursive;
}

.text9{
    font-family: 'Caveat', cursive;
}

.text10{
    font-family: 'Cookie', cursive;
}

.text11{
    font-family: 'Damion', cursive;
}

.text12{
    font-family: 'Fredericka the Great', cursive;
}

.text13{
    font-family: 'Fredoka One', cursive;
}

.text14{
    font-family: 'Great Vibes', cursive;
}

.text15{
    font-family: 'Herr Von Muellerhoff', cursive;
}

.text16{
    font-family: 'Indie Flower', cursive;
}

.text17{
    font-family: 'Kaushan Script', cursive;
}

.text18{
    font-family: 'Lobster', cursive;
}

.text19{
    font-family: 'Marck Script', cursive;
}

.text20{
    font-family: 'Monoton', cursive;
}

.text21{
    font-family: 'Niconne', cursive;
}

.text22{
    font-family: 'Nothing You Could Do', cursive;
}

.text23{
    font-family: 'Pacifico', cursive;
}

.text24{
    font-family: 'Parisienne', cursive;
}

.text25{
    font-family: 'Pinyon Script', cursive;
}

.text26{
    font-family: 'Press Start 2P', cursive;
}

.text27{
    font-family: 'Rock Salt', cursive;
}

.text28{
    font-family: 'Sacramento', cursive;
}


.text29{
    font-family: 'Sansita Swashed', cursive;
}


.text30{
    font-family: 'Satisfy', cursive;
}


.text31{
    font-family: 'Shrikhand', cursive;
}


.text32{
    font-family: 'Six Caps', sans-serif;
}


.text33{
    font-family: 'Unica One', cursive;
}


.text34{
    font-family: 'Yellowtail', cursive;
}








